
@{
    ViewData["Title"] = "Autorisation";
}

<div class="container autorization">
    <div>
        <h1>Вконтакте</h1>
    </div>
    <div class="mb-3">
        <label for="exampleInputText1" class="form-label">Text input</label>

        <input type="text" class="" id="exampleInputText1" placeholder="Логин">
    </div>

</div>

