@using WebApplication4.Models
@model User
@{
    ViewData["Title"] = "Autorisation";
}

<div class="container autorization">
    <div>
        <h1>ВСети</h1>
    </div>
    <form asp-action="Register" method="post">
        <div>
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" />
        </div>
        <div>
            <label asp-for="Mail"></label>
            <input asp-for="Mail" />
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" />
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
    </form>

</div>
